body{
  background-color: #373737;
}

table{
  color: white;
}

table thead th{
  text-align: center;
}

table tr td{
  text-align: center;
}

table tbody tr:nth-child(even) td, thead{
  background-color: #373737;
}

table tbody tr:nth-child(odd) td{
  background-color: #424242;
}

table tbody tr:hover td{
  background-color: #606060;
}

.col{
  margin: 0px;
  padding: 0px;
}

#menu-header{
  color: white;
  background-color: #1d1d1d;
  text-align: center;
  padding: 8px 0px 4px 0px;
  margin: 0px 0px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

#menu-items{
  background-color: #1d1d1d;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px 8px 0px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 10px 10px;
}

#table-container{
  background-color: #1d1d1d;
  border-radius: 10px;
  margin: 8px 0px 8px 0px;
  padding: 10px;
}
